:host {
  display: block;
  width: 100%;
  /* grid-column: 1 / -1; */
}

.flex-center {
  min-height: calc(100vh - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

mat-card {
  width: 100%;
  max-width: 520px;
}
